* {
    box-sizing: border-box;
}

::selection {
    background-color: #EBEBF2;
    color: #83828D;
}

body {
    font-family: 'Montserrat', Verdana, serif;
    font-size: 97%;
}

table {
    padding: 10px;
}

h3 {
    margin-top: 40px;
}

#header {
    height: 60px;
    background-color: #6dabad;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 10px;
    color: #e2e2e2;
    border-bottom: 2px solid #629192;
    z-index: 1;
}

#title {
    font-size: 150%;
    font-weight: bold;
    color: rgb(236, 236, 236);
    position: absolute;
    top: 14px;
    margin-left: 15px;
}

div#main {
    position: relative;
    top: 52px;
}

.container {
    margin: 0 auto;
    width: 85%;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 30px;
    background-color: whitesmoke;
    line-height: 1.5;
}

span#usrHeader {
    position: absolute;
    right: 45px;
    top: 20px;
}

#usrHeader > a {
    color: rgb(236, 236, 236);
    transition: color 0.3s;
}

#usrHeader > a:hover {
    color: rgb(218, 218, 218);
}

a.whiteLink {
    opacity: 0.65;
    color: black;
    -webkit-transition: opacity 0.6s;
    /* Safari */
    transition: opacity 0.3s;
}

.black {
    color: black;
    -webkit-transition: color 0.3s;
    /* Safari */
    transition: color 0.3s;
}

.black:hover {
    color: rgb(100, 100, 100);
}

.green {
    color: #007300;
}

.red {
    color: #c10000;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

ul > li {
    list-style: none;
}

p.note {
    font-size: 85%;
    opacity: 0.8;
}


/* ==================================== */
/*		  	Buttons & Inputs		
/* ==================================== */

input:hover,
input:active,
input:focus {
    outline: 0;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: solid 3px #c9c9c9;
    border-radius: 4px;
    height: 2.5em;
    margin: 2px;
    transition: border 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
    border: solid 3px #969696;
}

.editExam {
    border: 0;
    background-color: whitesmoke;
    opacity: 0.7;
    width: 60%;
    -webkit-transition: opacity 0.6s;
    /* Safari */
    transition: opacity 0.3s;
}

.editExam:hover,
a.whiteLink:hover {
    opacity: 1;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #6dabad;
    border-radius: 2px;
    border: 1px solid #4a7071;
    color: #ffffff;
    padding: 5px 15px;
    position: relative;
    top: 1px;
    font-size: 110%;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: rgba(109, 171, 173, 0.9);
}

input[type="submit"]:active,
input[type="button"]:active,
button:active {
    top: 4px;
}

.onoffswitch {
    position: relative;
    width: 116px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 38px;
    padding: 0;
    line-height: 38px;
    font-size: 25px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 14px;
    background-color: #EEEEEE;
    color: #6dabad;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 38px;
    margin: 1.5px;
    background: #A1A1A1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 71px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
    background-color: #6dabad;
}


/* ==================================== */
/*		  	  Navigaton Menu		
/* ==================================== */

.menu-wrap {
    background-color: rgba(109, 171, 173, 0.9);
    position: fixed;
    top: 58px;
    height: 100%;
    width: 280px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
    border-top: 2px solid #629192;
}

.menu-show {
    margin-left: 0;
    box-shadow: 4px 6px 15px 1px #B9ADAD;
}

.menu-sidebar {
    margin: 25px 0 80px 10px;
    position: relative;
    top: 50px;
}

.menu-sidebar li {
    padding: 18px 22px 0;
}

.menu-sidebar li > a {
    color: #f3f3f3;
    font-size: 1.18em;
    position: relative;
}

.menu-sidebar li > a::after {
    content: "";
    display: block;
    height: 0.12em;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #c5c5c5 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}

.menu-sidebar li > a:hover::after {
    background-position: -100% 0;
}

.menu-sidebar .menu-item-has-children {
    position: relative;
}

.menu-sidebar .menu-item-has-children .sub-menu {
    display: none;
}

.sidebar-menu-arrow::after {
    content: "\f107";
    font-family: 'FontAwesome';
    padding: 10px;
    color: #c5c5c5;
    position: relative;
}

.sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: #fff;
}

.sidebar-menu-arrow:active::after {
    top: 2px;
}


/*Hamburger Button*/

.toggle-button {
    position: fixed;
    width: 44px;
    height: 40px;
    top: 85px;
    left: 25px;
    padding: 4px;
    transition: .25s;
    z-index: 15;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border: 4px solid #555;
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    height: 4px;
    background-color: #555;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.toggle-button .menu-bar-bottom {
    border: 4px solid #555;
    border-top: none;
    top: 22px;
}

.button-open {
    left: 25px;
}

.button-open .menu-bar-top {
    border-color: #fff;
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    background-color: #fff;
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    border-color: #fff;
    transform: rotate(-45deg) translate(7px, -7px);
    transition: .5s;
}


/* ==================================== */
/*		  	  Notifications		
/* ==================================== */

.ns-box {
    position: fixed;
    background: rgba(42, 45, 50, 0.85);
    padding: 20px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    color: rgba(250, 251, 255, 0.95);
    font-size: 90%;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    right: 10%;
}

.ns-box.ns-show {
    pointer-events: auto;
}

.ns-box a {
    color: inherit;
    opacity: 0.7;
    font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
    opacity: 1;
}

.ns-box p {
    margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
    pointer-events: auto;
}

.ns-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ns-close:hover,
.ns-close:focus {
    outline: none;
}

.ns-close::before,
.ns-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
    background: #fff;
}

.ns-close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.ns-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* Growl-style notifications */

.ns-attached {
    right: 10%;
    max-width: 300px;
}

[class^="ns-effect-"].ns-attached.ns-hide,
[class*=" ns-effect-"].ns-attached.ns-hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}


/* Individual effects */


/* Flip */

.ns-effect-flip {
    background: rgba(109, 171, 173, 0.9);
    ;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    bottom: 0;
    font-size: 1.15em;
    padding: 1.4em;
    max-width: 280px;
    backface-visibility: hidden;
}

.ns-effect-flip .ns-close::before,
.ns-effect-flip .ns-close::after {
    background: rgba(85, 128, 130, 0.9);
}

.ns-effect-flip .ns-close:hover::before,
.ns-effect-flip .ns-close:hover::after {
    background: rgba(72, 107, 109, 0.9);
}

.ns-effect-flip.ns-show,
.ns-effect-flip.ns-hide {
    -webkit-animation-name: animFlipFront;
    animation-name: animFlipFront;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.ns-effect-flip.ns-hide {
    -webkit-animation-name: animFlipBack;
    animation-name: animFlipBack;
}

@-webkit-keyframes animFlipFront {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
    }
}

@keyframes animFlipFront {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
        transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
        transform: perspective(1000px);
    }
}

@-webkit-keyframes animFlipBack {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
    }
}

@keyframes animFlipBack {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
        transform: perspective(1000px);
    }
}

@media screen and (max-width: 25em) {
    .ns-attached {
        left: 30px;
        max-width: none;
        right: 30px;
    }
}