* {
    box-sizing: border-box;
}

::selection {
    background-color: #EBEBF2;
    color: #83828D;
}

body {
    font-family: 'Montserrat', Verdana, serif;
    font-size: 97%;
}

table {
    padding: 10px;
}

h3 {
    margin-top: 40px;
}

#header {
    height: 60px;
    background-color: #6dabad;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    padding: 10px;
    color: #e2e2e2;
    border-bottom: 2px solid #629192;
    z-index: 1;
}

#title {
    font-size: 150%;
    font-weight: bold;
    color: rgb(236, 236, 236);
    position: absolute;
    top: 14px;
    margin-left: 15px;
}

div#main {
    position: relative;
    top: 52px;
}

.container {
    margin: 0 auto;
    width: 85%;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 30px;
    padding-bottom:45px;
    background-color: whitesmoke;
    line-height: 1.5;
}

span#usrHeader {
    position: absolute;
    right: 45px;
    top: 20px;
}

#usrHeader > a {
    color: rgb(236, 236, 236);
    transition: color 0.3s;
}

#usrHeader > a:hover {
    color: rgb(218, 218, 218);
}

a.whiteLink {
    opacity: 0.65;
    color: black;
    -webkit-transition: opacity 0.6s;
    /* Safari */
    transition: opacity 0.3s;
}

.black {
    color: black;
    -webkit-transition: color 0.3s;
    /* Safari */
    transition: color 0.3s;
}

.black:hover {
    color: rgb(100, 100, 100);
}

.green {
    color: #498e49;
}

.red {
    color: #f95555;
}

a {
    text-decoration: none;
}

ul.nolist {
    padding-left: 0;
}

ul.nolist > li {
    list-style: none;
}

p.note {
    font-size: 85%;
    opacity: 0.8;
}

td {
    padding-right:5px;
}

.float-right {
    float:right;
}

.helpEdit {
    float: right;
    margin-bottom:-21px;
}

.review-container {
    width: 20%;
    padding: 15px;
    margin-bottom: 15px;
    float: right;
    overflow: auto;
    height: 200px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}

.question-container {
    border: 1px solid #d0d0d0;
    width: 78%;
    padding: 15px;
    margin-bottom: 15px;
    background-color:#e5e5e5;
    border-radius:3px;
    min-height:200px;
    line-height:1.9;
}

.exam-buttons-container {
    width:78%;
}

.editor-container {
    position: relative;
    top: 70px;
    width: 98%;
    margin: 0 auto;
}

.editor-submit {
    float: right;
    margin-top: 8px;
}

.answers-item {
    border: 1px solid #d0d0d0;
    padding: 15px;
    background-color:#e5e5e5;
    border-radius:3px;
    line-height:1.9;
}

#flag {
  width: 30px;
  height: 45px;
  padding-top: 15px;
  position: relative;
  background: #bbbbbb;
  color: #e5e5e5;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  float: right;
}

#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #e5e5e5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

#flag:hover {
    background:#adadad;
}

#flag:active, .red-flag {
    background:#f95555 !important;
}

.red-flag:hover {
    background:#ff6b6b !important;
}

#small-flag {
    width: 10px;
    height: 15px;
    padding-top: 15px;
    position: relative;
    background: #ff6b6b;
    color: #ff6b6b;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    float:right;
    margin-top:5px;
}

#small-flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 4px solid whitesmoke;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.question-mark {
    color: #f95555;
    border: 1px solid #f95555;
    border-radius: 50%;
    padding: 0 4px 0 4px;
    font-size: 80%;
    margin-right: 6px;
    font-weight: bold;
}

.check-mark {
    color: #498e49;
    margin-right: 9px;
    margin-left: 2px;
    font-weight:bold;
}

span#signup_step {
    margin-top: -5px;
    position: relative;
    top: -8px;
    margin-right:12px;
}

span#circle_up {
    width: 16px;
    height: 16px;
    background: #6dabad;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
    margin-top: 15px;
}

span#circle_down {
    width: 12px;
    height: 12px;
    background: #c5c5c5;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
    margin-top: 15px;
    position: relative;
    top: -1px;
}

.nodisplay {
    display:none;
}

.display {
    display:block;
}

span.attempt-time {
    float: right;
}

/* ==================================== */
/*		  	Buttons & Inputs		
/* ==================================== */

input:hover,
input:active,
input:focus {
    outline: 0;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: solid 3px #c9c9c9;
    border-radius: 4px;
    height: 2.5em;
    margin: 2px;
    transition: border 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
    border: solid 3px #969696;
}

.editExam {
    border: 0;
    background-color: whitesmoke;
    opacity: 0.7;
    width: 60%;
    -webkit-transition: opacity 0.6s;
    /* Safari */
    transition: opacity 0.3s;
}

.editExam:focus,
a.whiteLink:focus {
    opacity: 1;
}

.editExam.num {
    width:45px;
    margin-left:10px;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #6dabad;
    border-radius: 2px;
    border: 1px solid #4a7071;
    color: #ffffff;
    padding: 5px 15px;
    position: relative;
    top: 1px;
    font-size: 110%;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    background-color: rgba(109, 171, 173, 0.9);
}

input[type="submit"]:active,
input[type="button"]:active,
button:active {
    top: 4px;
}

.onoffswitch {
    position: relative;
    width: 116px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 38px;
    padding: 0;
    line-height: 38px;
    font-size: 25px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 14px;
    background-color: #EEEEEE;
    color: #6dabad;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 14px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 38px;
    margin: 1.5px;
    background: #A1A1A1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 71px;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
    background-color: #6dabad;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    margin-left: 8px;
}

input.warning {
    background-color: #f95555;
    border: 1px solid #4a0000;
}

input.warning:hover {
    background-color: #ff6b6b;
}

.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 5px;
	padding: 8px 0;
    left: 2px !important;
}
.tt-suggestion {
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: rgba(109, 171, 173, 0.9);
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

span.supervisor_buttons {
    position: relative;
    top: 9px;
}

/* ==================================== */
/*		  	  Navigaton Menu		
/* ==================================== */

.menu-wrap {
    background-color: rgba(109, 171, 173, 0.9);
    position: fixed;
    top: 58px;
    height: 100%;
    width: 280px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
    border-top: 2px solid #629192;
}

.menu-show {
    margin-left: 0;
    box-shadow: 4px 6px 15px 1px #B9ADAD;
}

.menu-sidebar {
    margin: 25px 0 80px 10px;
    position: relative;
    top: 50px;
    line-height:2.5;
}

.menu-sidebar li {
    padding: 18px 22px 0;
}
 
.menu-sidebar li > a, .menu-dropdown li > a {
    color: #f3f3f3;
    position: relative;
}

.menu-sidebar li > a {
    font-size: 145%;
}

.menu-sidebar li > a.line::after, .menu-dropdown li > a.line::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(to right, transparent 50.3%, #c5c5c5 50.3%);
    transition: background-position .2s .1s ease-out;
    background-size: 200% auto;
}

.menu-sidebar li > a.line:hover::after, .menu-dropdown li > a.line:hover::after {
    background-position: -100% 0;
}

.menu-sidebar .menu-item-has-children, .menu-dropdown {
    position: relative;
}

.menu-sidebar .menu-item-has-children .sub-menu {
    display: none;
}

.sidebar-menu-arrow::after {
    content: "\f107";
    font-family: 'FontAwesome';
    padding: 10px;
    color: #c5c5c5;
    position: relative;
}

.sidebar-menu-arrow:hover::after {
    cursor: pointer;
    color: #fff;
}

.sidebar-menu-arrow:active::after {
    top: 2px;
}

.menu-dropdown {
    position: relative;
    top: -15px;
}

ul.sub-menu-dropdown {
    background-color: #6dabad;
    padding: 0 20px 10px 20px;
    border-bottom: 2px solid #629192;
    border-right: 2px solid #629192;
    border-left: 2px solid #629192;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 18px;
    line-height: 1.5;
    box-shadow: 0px 6px 12px 1px #B9ADAD;
}

.menu-icon {
    width:35px;
    margin-right:15px;
    position:relative;
    top:8px;
}

/*Hamburger Button*/

.toggle-button {
    position: fixed;
    width: 44px;
    height: 40px;
    top: 85px;
    left: 25px;
    padding: 4px;
    transition: .25s;
    z-index: 15;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .menu-bar {
    position: absolute;
    border-radius: 2px;
    width: 80%;
    transition: .5s;
}

.toggle-button .menu-bar-top {
    border: 4px solid #555;
    border-bottom: none;
    top: 0;
}

.toggle-button .menu-bar-middle {
    height: 4px;
    background-color: #555;
    margin-top: 7px;
    margin-bottom: 7px;
    top: 4px;
}

.toggle-button .menu-bar-bottom {
    border: 4px solid #555;
    border-top: none;
    top: 22px;
}

.button-open {
    left: 25px;
}

.button-open .menu-bar-top {
    border-color: #fff;
    transform: rotate(45deg) translate(8px, 8px);
    transition: .5s;
}

.button-open .menu-bar-middle {
    background-color: #fff;
    transform: translate(230px);
    transition: .1s ease-in;
    opacity: 0;
}

.button-open .menu-bar-bottom {
    border-color: #fff;
    transform: rotate(-45deg) translate(7px, -7px);
    transition: .5s;
}


/* ==================================== */
/*		  	  Notifications		
/* ==================================== */

.ns-box {
    position: fixed;
    background: rgba(42, 45, 50, 0.85);
    padding: 20px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    color: rgba(250, 251, 255, 0.95);
    font-size: 90%;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    right: 10%;
}

.ns-box.ns-show {
    pointer-events: auto;
}

.ns-box a {
    color: inherit;
    opacity: 0.7;
    font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
    opacity: 1;
}

.ns-box p {
    margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
    pointer-events: auto;
}

.ns-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ns-close:hover,
.ns-close:focus {
    outline: none;
}

.ns-close::before,
.ns-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
    background: #fff;
}

.ns-close::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.ns-close::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* Growl-style notifications */

.ns-attached {
    right: 10%;
    max-width: 300px;
}

[class^="ns-effect-"].ns-attached.ns-hide,
[class*=" ns-effect-"].ns-attached.ns-hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}


/* Individual effects */


/* Flip */

.ns-effect-flip {
    background: rgba(109, 171, 173, 0.9);
    ;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    bottom: 0;
    font-size: 1.15em;
    padding: 1.4em;
    max-width: 280px;
    backface-visibility: hidden;
}

.ns-effect-flip .ns-close::before,
.ns-effect-flip .ns-close::after {
    background: rgba(85, 128, 130, 0.9);
}

.ns-effect-flip .ns-close:hover::before,
.ns-effect-flip .ns-close:hover::after {
    background: rgba(72, 107, 109, 0.9);
}

.ns-effect-flip.ns-show,
.ns-effect-flip.ns-hide {
    -webkit-animation-name: animFlipFront;
    animation-name: animFlipFront;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    box-shadow: 4px 6px 15px 1px #B9ADAD;
}

.ns-effect-flip.ns-hide {
    -webkit-animation-name: animFlipBack;
    animation-name: animFlipBack;
}

@-webkit-keyframes animFlipFront {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
    }
}

@keyframes animFlipFront {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
        transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
        transform: perspective(1000px);
    }
}

@-webkit-keyframes animFlipBack {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
    }
}

@keyframes animFlipBack {
    0% {
        -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    }
    100% {
        -webkit-transform: perspective(1000px);
        transform: perspective(1000px);
    }
}

@media screen and (max-width: 25em) {
    .ns-attached {
        left: 30px;
        max-width: none;
        right: 30px;
    }
}


/* ==================================== */
/*		  	    Scrollbar		
/* ==================================== */

.review-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

.review-container::-webkit-scrollbar {
    width: 12px;
}
 
.review-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top:5px;
    margin-bottom:5px;
    position:relative;
    right:5px;
}
 
.review-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c5c5c5; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.review-container::-webkit-scrollbar-thumb:window-inactive {
	background: #e5e5e5; 
}

/* ==================================== */
/*	     Material Design Table	
/* ==================================== */

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #f5f5f5;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
  background-color: #fff;
}
.table .no-border {
  border: 0;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0.8rem;
}
.table-bordered {
  border: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  .table-responsive-vertical > .table > tbody {
    display: block;
  }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }
  .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
  background-color: #6dabad;
}
@media screen and (max-width: 767px) {
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e1f5fe;
  }
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
    background-color: #fff;
  }
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc;
  }
}